# Dependencies
node_modules

# Local Netlify folder
.netlify

# Environment variables
.env

# Turborepo cache
**/.turbo

GEMINI.md

badumts.txt

setup-supabase-cli.ps1

generate-types.md


local-testing.md

supabase-schema-setup.md

JATA_V2_BUild_Plan_.md

