# Dependencies
node_modules

# Local Netlify folder
.netlify

# Environment variables
.env

# Turborepo cache
**/.turbo

# Local files
GEMINI.md
badumts.txt
/apps/api/scripts/setup-supabase-cli.ps1
/apps/api/docs/generate-types.md
/apps/api/docs/auth-setup.md
/apps/api/docs/local-testing.md
/apps/api/docs/supabase-schema-setup.md
/docs/JATA_V2_Build_Plan_.md
